<!DOCTYPE html>
<html>
    <head>
        <title>New Card!</title>
        <meta charset="utf-8"></meta>
    </head>
    <body>
        <h1>You got a <%= pokemon %> card!</h1>

        <img src="/img/<%= bildName %>" alt="Image from Public Folder">

        <section style="display: flex; flex-direction: column;">
            <a href="/card" style="margin-bottom: 1rem;">Get another card!</a>
            <a href="/">Go back</a>
        </section>

    </body>
</html>